<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <File name="fileAppender" fileName="logs/myapp.log">
            <PatternLayout pattern="%d{DATE} %-5level %class{36} %L %M - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="fileAppender"/>
        </Root>
    </Loggers>
</Configuration>